.thread-list {

}

.left-side {
    background-color: blue;
    float: none;
    display: table-cell;
    border: 1px solid;
}

.right-side {
    background-color: red;
    float: none;
    display: table-cell;
    border: 1px solid;
}

.separator {
  border: 1px solid #E2E2E2;
  padding-left: 20px;
  border-left-width: 1px;
  background-color: white;
  height:100%;
}

.float-right {
  float: right;
}

.thread {
  padding: 10px;
  border-bottom: 1px solid #E2E2E2;
}

.page-content {
  padding: 5px;
}

/** Header issue */
body { padding-top: 70px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  height: 100%;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
[class*="col-"] {
  background-color: orange;
  background-color: white;
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}
