.thread-list {

}

.left-side {
    background-color: blue;
    float: none;
    display: table-cell;
    border: 1px solid;
}

.right-side {
    background-color: red;
    float: none;
    display: table-cell;
    border: 1px solid;
}

.message-container {
  padding-left: 0px !important;
}

.message-list {
  padding-left: 20px;
}

.separator {
  border: 1px solid #E2E2E2;
  border-left-width: 1px;
  background-color: white;
  height:100%;
}

.float-right {
  float: right;
}

.thread {
  padding: 10px;
  border-bottom: 1px solid #E2E2E2;
}

.page-content {
  padding: 5px;
}

/** Header issue */
body { padding-top: 50px; }

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  height: 100%;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

[class*="col-"] {
  background-color: orange;
  background-color: white;
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

/* The underline input */
.style-4 input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
.style-4 input[type="text"]:focus,
.style-4 input[type="text"].focus {
  border-bottom: solid 2px #969696;
}

.no-border {
  border: none;
}

.message-text-area-container {
  position:absolute;
  width: 100%;
  bottom:0;
  margin-left: 0px;
  border-top: 1px solid #969696;
  padding-top: 12px;
}

/*button.message-text-area  {
  background-color:blue;
  width: 60px;
}*/

textarea.message-text-area {
  border: none;
  resize: none;
  width: 100%;
  padding: 0px;
}
